DATABASE_URL=""
OLLAMA_BASE_URL = ""
OLLAMA_API_KEY = ""
PORT = 3000
OPENWEATHERMAP_API_KEY = ""
NEWS_API = ""
SMTP_HOST = ""
SMTP_PORT = 465
SMTP_PASSWORD = ""
SMTP_EMAIL = ""
TAVILY_API_KEY = ""
SLACK_WEBHOOK_URL = ""
DISCORD_BOT_TOKEN = ""
DISCORD_CHANNEL_ID = ""
DISCORD_SERVER_ID = ""